*{
	margin: 0;
	padding:0;
	font-family:'poppins', 'sans-serif';
	box-sizing:border-box;
}
body{
	background:url(images/Desktop\ -\ 1.png);
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}
.card{
	width:90%;
	max-width: 470px;
	background: rgba(1, 1, 43, 0.5);
	color:#fff;
	margin:100px auto 0;
	border-radius: 20px;
	padding: 40px 35px;
	text-align: center;
}
.search{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 3px solid #fff;
	border-radius: 10px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.search input 
{
	
	border:0;
	outline: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 10px 25px;
	height:60px;
	width: 16px;
	border-radius:20px;
	flex:1;
	margin-right: 20px;
	font-size:18px;
	

}

.sI:hover{
	animation: caretBlink 1s steps(1) infinite;
}

.search button{
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	   width:60px;
	   margin-left:0;
	   cursor: pointer;
	   height: 60px;
	   border: none;
       border-radius: 20%;
       transition: 0.2s;
}
 .search button img{
 	width:26px;
 }
 .sB:hover{
    
    opacity: 0.7;
 
 
 }
 .sB:active
 {
	opacity: 0.5;



 }
 /*animations*/
@keyframes caretBlink {
	50%{
		caret-color: white;
	}
	100%{
		caret-color: transparent;
	}
}
 .rainicon{
 	width:170px;
 	margin-top: 30px ;

 }
 .invalid{
	display: none;
	font-size: 20px;
	color: rgb(134, 6, 6);
	text-align: left;
	font-weight: bold;
	margin-left: 12px;


 }
 .noInput{
	display:none;
	font-size: 20px;
	color: rgb(134, 6, 6);
	text-align: left;
	font-weight: bold;
	margin-left: 12px;


 }
 .weather{
	display: none;
 }
 .weather h1{
 	font-size: 80px;
 	font-weight:500;

 }
 .weather h2{
 	font-size:45px;
 	font-weight:400 ;
 	margin-top: -10px;

 }
 .details{
 	display: flex;
 	align-items: center;
 	justify-content: space-between ;
 	padding: 0 20px;
 	margin-top: 50px;
 }
 .col{
 	display: flex;
 	align-items: center;
 	text-align: left;

 }
 .col img{
 	width:40px;
 	margin-right:10px;

 }
 .humidity ,.wind{
 	font-size: 28px;
 	margin-top:-6px ;

 }
 